.nav{

    background-color: black;
    color: white;

    height: 85px;
    width: auto;
    padding: 0 , 0 , 0 , 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__title{

    margin-left: 10px;

    font-size: 40px;
    font-weight: 700;
    font-family: serif;


}

.nav__connectbtn{

    margin-right: 50px;
    height: 40px;
    width: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: black;

    font-size: 17px;
    font-weight: 600;
    font-family: serif;

    border-radius: 7px;
    cursor: pointer;
    border: none;

    transition: all ease-in 250ms;



}

.nav__connectbtn:hover{

    background-color: #DC0759;
    color: white;


}

.nav__connectedbtn{

    margin-right: 50px;
    height: 40px;
    width: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e9236f;
    color: white;

    font-size: 17px;
    font-weight: 600;
    font-family: serif;

    border-radius: 7px;
    /* cursor: pointer; */
    cursor: default;
    border: none;


}

.nav__connectedbtn:hover{

    cursor: pointer;

}



.nav__changenetwork{

    margin-right: 260px;
    height: 40px;
    width: 145px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    color: black;

    font-size: 17px;
    font-weight: 600;
    font-family: serif;

    border-radius: 7px;
    cursor: pointer;
    border: none;

    transition: all ease-in 250ms;

}

.nav__changenetwork:hover{

    background-color: rgb(255, 15, 15);
    color: #ffffff;

}

.nav__onlyOwner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 38px;
    width: 143px;

    margin-right: 170px;

    font-size: 17px;
    font-family: math;
    font-weight: 600;

    border-radius: 7px;
    border: none;

    cursor: pointer;

    background-color: white;
    color: black;
}

.nav__copyaddress{

    display: none;

}